venv/
.env
.idea/
.vscode/
postgres_data/
**/staticfiles/
**/__pycache__/
**/*.pyc
**/db.sqlite3
**/celerybeat-schedule
**/*.log
.DS_Store
Thumbs.db
**/*local_settings.py
**/migrations/*
!**/migrations/__init__.py
**/*.tmp
**/*.bak
.env/
.env.bak/
*.env.local
*.env.example
