body {
    /* add image static/img/wood.jpg as background */
    background-image: url('/static/img/wood.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.navbar-brand img {
    height: 30px;
}

.card {
    background: rgba(0, 0, 0, 0.5);
}

.card-header, .card-body {
    color: #fff;
}

.list-group-item {
    color: #333;
}