{% extends 'base.html' %}
{% load static %}

{% block extra_static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-header">Weather Parameters</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="parameter">Atmosphere Pressure:</span>
                        <span class="value-container">
                    <span class="value">754.5</span>
                    <span class="unit">mm</span>
                </span>
                    </li>
                    <li class="list-group-item">
                        <span class="parameter">Humidity:</span>
                        <span class="value-container">
                    <span class="value">48.25</span>
                    <span class="unit">%</span>
                </span>
                    </li>
                    <li class="list-group-item">
                        <span class="parameter">Temperature (Average):</span>
                        <span class="value-container">
                    <span class="value">19.1</span>
                    <span class="unit">°C</span>
                </span>
                    </li>
                    <li class="list-group-item">
                        <span class="parameter">Temperature (InfraRed):</span>
                        <span class="value-container">
                    <span class="value">17.47</span>
                    <span class="unit">°C</span>
                </span>
                    </li>
                    <li class="list-group-item">
                        <span class="parameter">Illumination:</span>
                        <span class="value-container">
                    <span class="value">5</span>
                    <span class="unit">Lux</span>
                </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-header">Wind & Power</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="parameter">Weathervane Direction:</span>
                        <span class="value-container">
                            <span class="value">726 SW</span>
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="parameter">Anemometer:</span>
                        <span class="value-container">
                    <span class="value">0</span>
                    <span class="unit">m/s</span>
                </span>
                    </li>
                    <li class="list-group-item">
                        <span class="parameter">Power Supply:</span>
                        <span class="value-container">
                    <span class="value">5.08</span>
                    <span class="unit">V</span>
                </span>
                    </li>
                    <li class="list-group-item">
                        <span class="parameter">Battery Voltage:</span>
                        <span class="value-container">
                    <span class="value">0.02</span>
                    <span class="unit">V</span>
                </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-header">GPS Information</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="parameter">Status:</span>
                        <span class="value-container">
                            <span class="value">No Data</span>
                            <span class="unit"></span>
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="parameter">Longitude:</span>
                        <span class="value-container">
                            <span class="value">No Data</span>
                            <span class="unit"></span>
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="parameter">Latitude:</span>
                        <span class="value-container">
                            <span class="value">No Data</span>
                            <span class="unit"></span>
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="parameter">Altitude:</span>
                        <span class="value-container">
                            <span class="value">No Data</span>
                            <span class="unit"></span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>

    </div>
{% endblock %}